<div style="overflow: hidden;">
    <div class="p-grid">
        <div class="p-col ">
            <div class="box" style="margin-left: 50px">
                <div>Hôtel Des Lacs Blancs</div>
                <div>Amenitiz</div>
                <div>Amenitiz - Amenitiz</div>
                <div>Téléphone: +33 1 86 65 02 09</div>
                <div>contact@amenitiz.io</div>
            </div>
        </div>
        <div class="p-col styleborder">
            <div class="box">2</div>
        </div>
        <div class="p-col styleborder">
            <div class="box">
                <ul id="navigation">
                    <li style="margin-left: 40%;"><a href="#" title="aller à la section 1">Saint Augustin</a></li>
                    <li style="margin-left: 35%;"><a routerLink="/nosrestaurants" title="aller à la section 2">Votre restaurant</a></li>
                    <li style="margin-left: 36%;"><a routerLink="/nosbungalow" title="aller à la section 3">Votre bungalow</a></li>
                    <li style="margin-left: 47%;"><a routerLink="/nosactivites" title="aller à la section 4">Nos activites</a></li>
                    <li style="margin-left: 50%;"><a routerLink="/nosrestaurants" title="aller à la section 5">Localisation</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>