<p-toast [style]="{marginTop: '80px'}"></p-toast>

<div style="width: 70%; margin: auto;font-family:cursive; color: white;padding-top: 10px;">
    {{'contact.message1' | translate}}
</div>

<br>
<br>

<div style="width: 50%; margin: auto;">
        <div class="p-grid p-dir-col">
            <div class="p-col">
                <div class="box">
                    <input style="width: 100% !important;"  [(ngModel)]="name" pInputText type="text" placeholder="Nom/Prenom" />
                </div>
            </div>
            <div class="p-col">
                <div class="box">
                    <input style="width: 100% !important;" [(ngModel)]="tel" pInputText type="text" placeholder="Téléphone" />
                </div>
            </div>
            <div class="p-col">
                <div class="box">
                    <input style="width: 100% !important;" [(ngModel)]="mail" pInputText type="text" placeholder="E-Mail" />
                </div>
            </div>
            <div class="p-col">
                <div class="box">
                    <textarea style="width: 100% !important;" rows="5" cols="30" pInputTextarea [(ngModel)]="objectmail" placeholder="Message"></textarea>
                </div>
            </div>

            <div class="p-col">
                <div class="box">
                    <ngx-recaptcha2 siteKey="6LftSYAaAAAAAExJsxonbGoXfPZdkQw4QxJsFU2H"
                        (success)="handleSuccess($event)"
                        (expire)="handleExpire()">
                    </ngx-recaptcha2>
                </div>
            </div>
            <div class="p-col">
                <div>
                    <div style="display: inline;">
                        <div style="display: inline;">
                            <p-inputSwitch [(ngModel)]="confidentialite"></p-inputSwitch>
                        </div>
                        <div style="display: inline;">
                            <span style="font-family: Playfair Display SC; color: white;">{{'contact.message3' | translate}}</span>
                        </div>
                    </div>

                </div>
            </div>

            <div *ngIf="capchat && confidentialite">
                <p-button (click)="sendMessage()" label="Envoyer message"></p-button>
            </div>

             <div *ngIf="!capchat || !confidentialite">
                <p-button  label="Envoyer message" disabled="true"></p-button>
            </div> 
        </div>

</div>
<br>
<br>
<div style="width: 70%; margin: auto;font-family:cursive; color: white;padding-top: 10px;">{{'contact.message4' | translate}}

</div>