<div class="p-grid">
  <div class="p-col-fixed" style="width:100px">
    <div class="box" style="padding-top: 10px;">
      <button style="margin-left: 4px; background: none !important;" type="text" (click)="display = true" pButton
        icon="pi pi-bars"></button>
    </div>
  </div>
  <div class="p-col-fixed" style="width:500px">
    <div class="box">
      <h3 class="name_hotel_vertical">
        HOTEL MAMISIRA
      </h3>

    </div>
  </div>
  <div class="p-col">
    <div class="box">
      <p-menubar class="menubar_vertical" [model]="items"> </p-menubar>
    </div>
  </div>
</div>

<p-sidebar class="p-sidebar-md" [(visible)]="display" [baseZIndex]="10000">
  <br>
  <br>
  <br>
  <br>
  <h3>PHOTOS</h3>
  <br>
  <a (click)="photos('saint_augustin')" style="cursor: pointer;">
    <span>SAINT AUGUSTIN</span>
  </a>
  <br>
  <span>NOS MENU</span>
  <br>
  <span>NOS BANGLAW</span>
</p-sidebar>