<div class="div_gallerie_grand_photo_debut">
    <p-galleria [(value)]="image_flamment_rose" [responsiveOptions]="responsiveOptions"
        [containerStyle]="{'max-width': '100%'}" [numVisible]="5" [circular]="true" [autoPlay]="true"
        [showItemNavigators]="true" [transitionInterval]="2000" [showThumbnails]="false">
        <ng-template pTemplate="item" let-item>
            <img [src]="item.previewImageSrc" style="width: 100%;height: 100vh; display: block;" />
        </ng-template>
    </p-galleria>
</div>
<br>
<br>
<div class="div_gallerie_description">
        Madère offre des conditions attractives pour les passionnés de surf. Outre ses célèbres « point breaks », les
        paysages volcaniques qui surplombent les plages sont à couper le souffle. Les vagues sont généralement « peu
        fréquentées » et sur les plages ont des zones d’accès qui facilitent le « line up » des surfeurs.
</div>
<br>
<br>
<div class="div_gallerie_grand_photo" (mouseover)="displayTagInfo($event)">
    <p-galleria [(value)]="image_baleine" [responsiveOptions]="responsiveOptions"
        [containerStyle]="{'max-width': '100%'}" [numVisible]="5" [circular]="true" [autoPlay]="true"
        [showItemNavigators]="true" [transitionInterval]="2000" [showThumbnails]="false">
        <ng-template pTemplate="item" let-item>
            <img [src]="item.previewImageSrc" style="width: 100%;height: 80vh; display: block;" />
        </ng-template>
    </p-galleria>
</div>
<br>
<br>
<div class="div_gallerie_description">
        Madère offre des conditions attractives pour les passionnés de surf. Outre ses célèbres « point breaks », les
        paysages volcaniques qui surplombent les plages sont à couper le souffle. Les vagues sont généralement « peu
        fréquentées » et sur les plages ont des zones d’accès qui facilitent le « line up » des surfeurs.
</div>
<br>
<br>
<div class="div_gallerie_grand_photo">
    <p-galleria [(value)]="image_plage" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '100%'}"
        [numVisible]="5" [circular]="true" [autoPlay]="true" [showItemNavigators]="true" [transitionInterval]="2000"
        [showThumbnails]="false">
        <ng-template pTemplate="item" let-item>
            <img [src]="item.previewImageSrc" style="width: 100%;height: 80vh; display: block;" />
        </ng-template>
    </p-galleria>
</div>
<br>
<br>
<div class="div_gallerie_description">
        Madère offre des conditions attractives pour les passionnés de surf. Outre ses célèbres « point breaks », les
        paysages volcaniques qui surplombent les plages sont à couper le souffle. Les vagues sont généralement « peu
        fréquentées » et sur les plages ont des zones d’accès qui facilitent le « line up » des surfeurs.
</div>
<br>
<br>
<div class="div_gallerie_grand_photo">
    <p-galleria [(value)]="image_pecheur" [responsiveOptions]="responsiveOptions"
        [containerStyle]="{'max-width': '100%'}" [numVisible]="5" [circular]="true" [autoPlay]="true"
        [showItemNavigators]="true" [transitionInterval]="2000" [showThumbnails]="false">
        <ng-template pTemplate="item" let-item>
            <img [src]="item.previewImageSrc" style="width: 100%;height: 80vh; display: block;" />
        </ng-template>
    </p-galleria>
</div>
<br>
<br>
<div class="div_gallerie_description">
        Madère offre des conditions attractives pour les passionnés de surf. Outre ses célèbres « point breaks », les
        paysages volcaniques qui surplombent les plages sont à couper le souffle. Les vagues sont généralement « peu
        fréquentées » et sur les plages ont des zones d’accès qui facilitent le « line up » des surfeurs.
</div>
<br>
<br>