<!-- ngclass permet de customiser de quelle css sera appeller , c'est pareil comme ngstyle -->
<div id="menu"
  [ngClass]="{'menufixe_fond_transparent':fondtransparent===true, 'menufixe_fond_nontransparent': fondtransparent===false}">
  <div class="p-grid" style="width: 95%; margin: auto;">
    <div class="p-col-fixed" style="width:100px">
      <div class="box" style="padding-top: 10px;">
        <button style="margin-left: 4px; background: none !important;" type="text" (click)="display()" pButton
          icon="pi pi-bars"></button>
      </div>
    </div>
    <div class="p-col-fixed" style="width:400px">
      <div class="box">
        <h3 class="name_hotel_vertical">
          HOTEL LAURIA
        </h3>
      </div>
    </div>
    <div class="p-col">
      <div class="box">
        <app-menu-vertical [langueUtuliser]="langueUtuliser" (menuVerticalEvent)="menuVerticalEventRecuperer($event)">
        </app-menu-vertical>
      </div>
    </div>
  </div>
</div>

<div class="menufixe_petit_menu">
  <app-petit-menu></app-petit-menu>
</div>

<div>
  <app-menu-horizontal [displayMenuHorizontal]="displayMenuHorizontal"></app-menu-horizontal>
</div>
<div>
  <router-outlet></router-outlet>
</div>

 <div id=divcontact style="background-color: #28282e;">
  <app-contact></app-contact>
</div>
<br>
<div>
  <app-footer></app-footer> 
</div>
