<div class="div_contact_menu_grand">
    <img src="/assets/image/nos_menu/grand/image1.jpg" style="width: 100%;height: 96vh;">
</div>
<div class="p-grid div_contact_menu_petit">
    <div class="p-col div_contact_menu_petit_diapo">
        <div class="box">
            <p-galleria [(value)]="images" [responsiveOptions]="responsiveOptions"
                [containerStyle]="{'max-width': '100%'}" [numVisible]="5" [circular]="true" [autoPlay]="true"
                [showItemNavigators]="true" [transitionInterval]="2000" [showThumbnails]="false">
                <ng-template pTemplate="item" let-item>
                    <img [src]="item.previewImageSrc" style="width: 100%;height: 70vh; display: block;" />
                </ng-template>
                <ng-template pTemplate="thumbnail" let-item>
                    <div class="p-grid p-nogutter p-justify-center">
                        <img [src]="item.thumbnailImageSrc" style="display: block;" />
                    </div>
                </ng-template>
            </p-galleria>
        </div>
    </div>
    <div class="p-col  div_contact_menu_petit_message">
        <div class="box">
            Notre hôtel vous propose deux restaurants aux cartes et aux saveurs différentes. Selon vos goûts et
            vos envies, vous pourrez durant votre séjour dégustez des plats a la fois raffinés et savoureux,
            cuisinés avec passion par nos chefs. Nous vous conseillons de réserver vos tables dès votre arrivée à
            l'hôtel.
        </div>
    </div>
</div>
<div>
    